qualifications.ipynb
previous_workers.csv
errors.txt
check_repeat.py
workerids.txt
remove_repeat.py
server.log
__pycache__/
.psiturk_history
.ipynb_checkpoints/
data/
env/
compensate.log
psiturk.sh
queries.sh
identifiers/
bonus.csv
bin/compensate.pyc
bonus/
prolific_export*
bin/scratch.py
